.modelviewer {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex: 1;
    cursor: move;
}
.viewerbar {
    background-color: $grey-800;
    height: 48px;
    padding-left: 12px;
}
.viewerbar__button {
    -webkit-appearance: none;
    border: 0;
    background-color: transparent;
    text-align: center;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    cursor: pointer;
    transition: 0.1s background-color;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    &:focus {
        outline: none;
    }
}
.viewercanvas {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    canvas {
        flex: 1;
    }
}
.viewer__details {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding: 16px;
    color: #FFFFFF;
    width: 240px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.2);

    h3 {
        padding-bottom: 16px;
    }

    p {
        position: relative;
        font-family: monospace;
    }

    span {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}