.modelgenerator {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
.generator__progress {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 32px 64px;

    .progress__section {
        border-radius: 50%;
        background-color: $grey-500;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        color: $grey-800;
        display: inline-block;
        position: relative;

        &.complete {
            background-color: $green-300;
            color: $grey-100;
        }

        &--state {
            position: absolute;
            top: 24px;
            left: -108px;
            width: 240px;
            text-align: center;
            color: $grey-800;
            font-size: 14px;
            white-space: nowrap;
        }
    }
    
    .progress__bar {
        height: 6px;
        background-color: $grey-500;
        flex: 1;
        display: inline-block;

        &.complete {
            background-color: $green-300;
        }
    }
}
.generator__status p {
    font-weight: bold;
    font-size: 1.8em;
    padding: 16px 32px;
}
.generator__items {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    .generator__item {
        flex-basis: calc(20% - 64px);
        overflow: hidden;
        height: 128px;
        margin: 32px;
        position: relative;
    }

    .generator__filename {
        position: absolute;
        display: inline-block;
        left: 0;
        right: 0;
        top: 0;
        height: 24px;
        line-height: 24px;
        text-align: right;
        padding-right: 16px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .generator__percentage {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        background-color: $grey-500;

        &--progress {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 10px;
            background-color: $green-300;
        }
    }
}